body{
    background-color: #ECECEC;
    margin: 0;
}

.BOX{
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 1920px;
    height: 921px;
    overflow: scroll;
}


header#atas{
    background-color: #023E8A;
    width: 100%;
    height: 6.8%;
    text-align: center;
    color: white;
}

main#tengah{
    background-color: white;
    margin-left: 5%;
    height: 100%;
    width: 90%;
    text-align: center;
    position: relative;
}

footer#bawah{
    background-color: #023E8A;
    width: 100%;
    height: 5%;
    text-align: center;
    color: white;
}

footer#bawah p{
    
    margin: 0;
    padding: 13.5px;
}


div#Search input {
    position: absolute;
    left: 29.7%;
    top: 1.1%;
    border: 2px solid black;
    width: 36.8%;
    height: 1.5%;
    padding-left: 55.4px;
    font-size: 18.0px;
    line-height: 1.5;
    border-radius: 50px;
    margin: 0px;
    background-color: #F1F1F1;
    background-image: url('images/search-icon.webp');
    /*! background-position: 10px 4px; */
    background-repeat: no-repeat;
    background-size: 3.5%;
    background-position-x: 12.8px;
    background-position-y: 2.9px;
}
#Search img{
    float:left;
    width: 26.2px;
    position: absolute;
    top: 11.8%;
    left: 5.2%;
    margin: 0px;
}
div > hr{
    position: absolute;
    width: 74.9%;
    left: 12.0%;
    top: 3.4%;
    height: 0px;
}
div.featured{
    height: 25.0%;
    width: 50%;
    background-color: #ECECEC;
    position: absolute;
    top:4.7%;
    left:25.2%;
    overflow: hidden;
    text-align: justify;
}
.featured_img{
    height: 490px;
}

div.urutan{
    position: absolute;
    height: 64.9%;
    width: 96.0%;
    top: 32.4%;
    left: 2.6%;
}

header a:link{
    text-decoration: none;
}

a#Login {
  position: absolute;
  top: 1.3%;
  right: 11.3%;
  color: black;
}

a#Sign_Up {
  position: absolute;
  top: 1.3%;
  right: 5.3%;
  color: black;
}

header a.button, a:visited.button{
    border: 1px solid white;
    border-radius: 13.5px;
    background-color: white;
    padding: 9.6px;
    text-align: center;
    padding-left: 20.0px;
    padding-right: 20.0px;
}
header a:hover.button{
    background-color: #EAEAEA;
    border: 1px solid #EAEAEA;
}
header img{
    position: absolute;
    top: -0.9%;
    left: 4.5%;
    height: 84.0px;
    width: 92.0px;
}
/* Bagian bawah ini buat event event box nya*/
.event_isi{
    float: left;
    background-color: white;
    border: 1px solid black;
    box-shadow: 8px 10px 5px 1px rgba(0,0,0,0.25);
    height: 416.0px;
    width: 394.1px;
    border-radius: 10px;
    margin-top: 23.2px;
    margin-right: 79.3px;
    margin-bottom: 71.9px;
    margin-left: 68.6px;
    position: relative;
    text-align: justify;
    font-family: "Inter-SemiBold", sans-serif;
}
.event_isi:hover{
    background-color: #dbdbdb;  
}
.event_img{
    position: absolute;
    height: 198px;
    width: 353px;
    top:5.7%;
    left: 5.2%;
}
.nama_event{
    position: absolute;
    top: 53.4%;
    left:5.4%;
    font-size: 20px;
    font-weight: 600;
}
.nama_artis{
    position: absolute;
    top: 61.1%;
    left:5.4%;
    font-size: 20px;
    font-weight: 400;
}
.alamat_event{
    position: absolute;
    top: 67.7%;
    left:5.4%;
    font-size: 20px;
    font-weight: 400;
}
.tgl_event{
    position: absolute;
    top: 53.4%;
    right:5.4%;
    font-size: 20px;
    font-weight: bold;
}
.event_startfrom{
    position: absolute;
    bottom: 4.0%;
    left:5.4%;
    font-size: 20px;
    font-weight: 400;
}
.event_harga{
    position: absolute;
    bottom: 4.0%;
    right:6.1%;
    font-size: 20px;
    font-weight: 400;
}
.event_isi .event_link{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
}

div.kotak{
    position: absolute;
    padding: 2%;
    border: 1px solid black;
    margin:35%;
    margin-top: 10%;
    width: 30%;
    border-radius: 25px;
}

div.isi{
    text-align: left;
    margin-left: 22%;
}
input#email{
    width: 300px;
}
input#password{
    width: 300px;
}
input#login{
    all: unset;
    background-color: #023E8A;
    color: #F1F1F1;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}
input#login:hover{
    background-color: #3a6caf;
}
input#dob{
    width: 10px;
}